body {
  color: white;
  background-color: #827E8B;
  font-size: 50px;
  font-family: monospace;
  text-shadow: #9e839e 2px 3px;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
  line-height: 0.5;
}
h1 {
  font-size: 50px;
}

.big {
  color: black;
  font-size: 80px;
  font-family: monospace;
  text-shadow: #616161 1px 5px;
}

ul {
  line-height: normal;
  font-size: 40px;
  text-align: left;
}

li {
  list-style: none;
}

.pokemonButton {
  background-color: black;
  color: #E0DBED;
  font-family: monospace;
  text-shadow: #792323 1px 0.3px;
  padding: 10px;
  border-radius: 10%;
}
